// this mixin for center an element
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin absCenterWidth {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin contactDecoration {
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  padding: .1rem .5rem;
  color: $color-primary-white;
  text-decoration: none;
  text-transform: uppercase;
}
@mixin styleAppsSection {
    position: fixed;
    top: 1rem;
    left: calc(100% - 25rem);
    p {
      @media (max-width: 800px) {display: none};
    }
    span {
      width: 31px;
      height: 12px;
      font-family: AvenirNext;
      font-size: 1rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.2px;
      text-align: left;
      color: #b3b3b3;
      padding-right: .5rem;
    }
    .btn {
      &,
      &:link,
      &:visited {
        display: inline-flex;
        color: $color-primary-white;
        background-color: $color-primary-black;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.3rem 2rem;
        border-radius: .1rem;
        position: relative;
        font-size: 1rem;
        border: none;
        cursor: pointer;
      }
      i {
        color: $color-primary-white;
        padding-left: 1rem;
      }
    }
}
@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 1000px) {@content};
  }
  @if $breakpoint == phone {
    @media (max-width: 520px) {@content};
  }
}
