$fa-font-path : '../node_modules/font-awesome/fonts';
$color-primary-white: #ffffff;
$color-primary-black: #000000;
$color-primary-grey: #b3b3b3;
$color-primary: #21edce;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
